<tr>
          <td><%= link_to event[:title], sport_event_path(sport_id, event[:id]), class: "link-primary" %></td>
          <td><%= event[:inPlay] %></td>
          <td><%= event[:scrA] %></td>
          <td><%= event[:scrB]%></td>
</tr>